* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    background: #e6e6e6;
}

p {
    margin: 16px 0 0 0;
}

h1,
h2 {
    margin: 0;
}

header,
main {
    max-width: 1600px;
    margin: 0 auto;
}

header > :first-child,
main > :first-child {
   margin-top: 0;
}

header {
    padding: 40px 32px 0;
}

main {
    padding: 40px 32px;
}

.grid {
    margin: 0;
    list-style: none;
}

.box {
    border-radius: 4px;
    padding: 24px;
    background-color: #ffffff;
}

.mt--l {
    margin-top: 32px;;
}
  